.heroBanner {
  padding: 5rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.featureIconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.featureIcon {
  color: var(--ifm-color-primary);
  transition: transform 0.2s ease-in-out;
}

.featureIcon:hover {
  transform: scale(1.1);
}
